{% extends "auctions/layout.html" %}

{% block body %}
    <div>
        {% if user.is_authenticated %}
            {% if isWatchlist %}
                <form action="{% url 'removeWatchlist' id=item.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=item.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add to Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    
    <h2>Item: {{ item.title }}</h2>
    <h4>Category: {{ item.category }}</h4>
    <img src="{{ item.image_url }}" alt="Image {{ item.title }}" height="400">
    <p>{{ item.description }}</p>
    {% if item.last_price == 0 or item.last_price == "" or item.last_price == None %}
        <h3>Price: ${{ item.initial_price }}</h3>
    {% elif item.last_price > item.initial_price %}
        <h3>Price: ${{ item.last_price }}</h3>
    {% endif %}

    <div>
        <form method="POST" action="{% url 'bid' id=item.id %}">
            {% csrf_token %}
            <label>Your bid:</label>
            <input type="number" name="bid" min="0">
            <input class="btn btn-info" type="submit" >
        </form>
    </div>

    <hr>
    
    <form method="POST" action="{% url 'add_comment' id=item.id %}">
        {% csrf_token %}
        <textarea cols="75" rows="4" name="comment" placeholder="Your comment"></textarea>
        <br>
        <button type="submit" class="btn btn-warning">Add Comment</button>
    </form>

    <h3>Comments:</h3>
    <hr>

    {% for comment in allComments %}
        <strong>Posted by: {{ comment.user }}</strong>
        <h6>{{ comment.date }}</h6>
        <p>{{ comment.text }}</p>
        <hr>
    {% endfor %}

{% endblock %}